:root {
  --text-color: #24292e;
  --subtext-color: #6e6d7a;
  --highlight-rgb: 72, 159, 247;
  --highlight-color: rgb(var(--highlight-rgb));
  --link-color: var(--highlight-color);
  --sans-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: normal normal 14px/1.42 var(--sans-font), sans-serif;
  color: var(--text-color);
}

.typlog-head {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-weight: 600;
  letter-spacing: .06em;
  margin-bottom: 48px;
}
.typlog-head .inner {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
  padding: 10px 15px;
}
.typlog-head a {
  text-decoration: none;
  line-height: 38px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.typlog-head a + a {
  margin-left: 1em;
}
.typlog-head .logo {
  display: inline-block;
  vertical-align: middle;
  width: 125px;
  height: 38px;
  background: url(https://typlog.com/assets/logo-black.svg) no-repeat center;
  background-size: contain;
}
.embed .typlog-head {
  display: none;
}

.inner {
  padding: 1em;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  background-color: #000;
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  border: 0;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.button:hover {
  text-decoration: none;
  background-color: rgb(var(--highlight-rgb));
}

.sep {
  margin: 0 3px;
  color: #ccc;
  font-weight: 700;
  font-size: 12px;
}

.js-use {
  display: none;
}

.embed .js-use {
  display: inline-block;
}

@media (max-width: 900px) {
  .typlog-head {
    margin-bottom: 4px;
  }
}
